@media only screen and (max-width: 600px) { 
    header {
        padding-top: 4px;
        margin-bottom: 4px;
    }
    header .container {
        padding-bottom: 4px;
    }
    header nav{
        margin-left: 0;
    }
    header nav ul {
        gap: 10px;
    }
    header nav{
        display: none;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .banner .container {
        flex-direction: column;
    }
    .banner article {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .shop_now_btn {
        margin-left: 40%;
    }
    .banner article img {
        max-width: 557px;
    }
    .banner img {
        width: 100%;
    }
    .catalog .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        align-self: center;
        margin-bottom: 32px;
    }
    .top-nav {
        flex-direction: column;
    }
    .top-nav ul {
        align-self: center;
        margin-bottom: 10px;
    }
    .sort {
        align-self: center;
    }
    .product-list {
        flex-wrap: wrap;
    }
    .product-item {
        width: 100%;
        text-align: center;
    }
    .pagination {
        justify-content: center;
    }
    .product_info {
        flex-direction: column;
        gap: 50px;
    }
    .info {
        flex-direction: column;
    }
    .info_title {
        text-align: center;
    }
    .info_description{
        text-align: center;
    }
    .btn_find_more {
        margin-right: 35%;
    }
    .post-list {
        flex-wrap: wrap;
        gap: 30px;
    }
    .garden_care .container {
        flex-direction: column;
        justify-content: center;
        gap: 33px;
    }
    .care {
        border-right: none;
        border-bottom: 1px solid rgba(70, 163, 88, 0.1);
    }
    .contact_info{
        flex-direction: column;
        justify-content: center;
        height: 290px;
        gap: 16px;
    }
    .contact_info a {
        display: block;
        align-items: center;
        text-align: center;
    }
    .contact_info a svg {
        display: block;
        margin-left: 50%;
    }
    .links {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 40px;
    }
    .social-media ul {
        justify-content: flex-start;
        gap: 10px;
    }
    .close {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 430px) {

}

@media only screen and (max-width: 360px) {
    .desktop_control {
        margin-left: 20px;
        gap: 5px;
    }
    .banner .container {
        display: block;
    }
    .banner article {
        padding-left: 0;
    }
    .shop_now_btn {
        margin-left: 30%;
    }
    .product-item {
        width: 152px;
        gap: 24px;
        margin-bottom: 32px;
    }
    .product-item ul {
        left: 18%;
        top: 68%;
        gap: 17px;
    }
    .product-item img {
        width: 152px;
        height: 152px;
    }
    .post-list{
        justify-content: center;
    }
    .form-container {
        box-shadow: none;
        width: 100%;
    }
    .password_control {
        right: 45px;
    }
    .btn_google {
        margin-left: 30px;
    }
    .btn_facebook {
        margin-left: 30px;
    }
}