@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{ 
    padding: 0; 
    margin: 0; 
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
   
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #cccccc;
    border-top-color: #46A358;
    border-radius: 50%;
    animation: spin 5s forwards;
  }

  .preloader.none {
    display: none;
  }
   
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

/* Форма регистрации */

.form-container{ 
    max-width: 500px; 
    margin: auto; 
    background-color: #ffffff; 
    padding: 20px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}

.close svg path{
    transition: 0,4s;
}

.close:hover {
    color: #46a358;
}

.close:hover svg path{
    stroke: #46A358;
}
 
.form-title{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px; 
} 
 
.form-title_first{ 
    margin-top: 52px;
    margin-bottom: 40px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
} 
 
.form-title_first span{ 
    margin-top: 52px; 
    margin-bottom: 40px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%; 
    color: #46A358; 
} 
 
.form_dscr{ 
    text-align: center; 
    font-size: 13px; 
    margin-bottom: 14px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3D3D3D; 
} 
 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
    width: 300px; 
    height: 40px; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #EAEAEA; 
    border-radius: 5px; 
    box-sizing: border-box; 
    outline: none;
    margin-bottom: 16px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}

.password {
    position: relative;
}

.password_control {
    display: inline-block;
    overflow: hidden;
    width: 18px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 115px;
    background-image: url(../img/eye.svg);
}
 
.register_btn{ 
    background-color: #46A358; 
    color: #ffffff;  
    text-align: center;  
    width: 300px;  
    height: 45px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff; 
    margin-bottom: 36px; 
    border-radius: 5px; 
    border: 1px solid #EAEAEA; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.register_btn:hover{
    background-color: white;
    color: #46a358;
}
 
.register_with{ 
    text-align: center; 
    font-size: 13px; 
    margin-bottom: 27px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3D3D3D;
}

.register_with:before {
    content: "";
    display: inline-block;
    align-items: center;
    border: 1px solid;
    width: 97px;
    height: 0px;
    color: #eaeaea;
    margin-right: 6px;
    margin-bottom: 3px;
}

.register_with:after {
    content: "";
    display: inline-block;
    align-items: center;
    border: 1px solid;
    width: 97px;
    height: 0px;
    color: #eaeaea;
    margin-left: 6px;
    margin-bottom: 3px;
}
 
.btn_google { 
    display: block;
    width: 300px; 
    height: 40px;
    margin-left: 100px; 
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    text-decoration: none;
    padding-top: 8px;
    border: 1px solid #EAEAEA; 
    border-radius: 5px; 
    box-sizing: border-box; 
    cursor: pointer; 
    margin-bottom: 15px;
}

.btn_google img {
    margin-bottom: -5px;
    margin-right: 9px;
}
 
.btn_facebook { 
    display: block;
    width: 300px; 
    height: 40px;
    margin-left: 100px; 
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    text-decoration: none;
    padding-top: 8px;
    border: 1px solid #EAEAEA; 
    border-radius: 5px; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.btn_facebook img {
    margin-bottom: -5px;
    margin-right: 4px;
}

/* Домашняя страница */

.container{
    max-width: 1200px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .container {
    margin-bottom: 46px;
}

header{
    margin-bottom: 12px;
    padding-top: 30px;
}

header .container {
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.1);
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li a{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    border-bottom: solid 1px transparent;
}

header nav ul li a:hover{
    background-color: #ffffff;
    color: #46a358;
    border-bottom: solid 1px #46A358;
}

header nav ul li {
    position: relative;
}

header nav ul li .dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    padding-top: 40px;
}

header nav ul li .dropdown a:before {
    display: none;
}

header nav ul li .dropdown a {
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background: #edf6ee;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 20px;
    transition: 0,3s;
    position: relative;
}

header nav ul li .dropdown a:hover {
    background-color: #1a712a;
    color: white;
}

header nav li .dropdown li:last-of-type a:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: url("../img/arrow.svg");
}

header nav ul li .dropdown a:hover:after {
    background-image: url("../img/arrow_hover.svg");
    transform: rotate(180deg);
}

header nav ul li.drop:hover .dropdown {
    display: block;
}

header nav ul li .dropdown li {
    position: relative;
}

header nav ul li .dropdown li .second_dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: -111px;
    left: 218px;
}

header nav ul li .dropdown li .second_dropdown a:before {
    display: none;
}

header nav ul li .dropdown li .second_dropdown a {
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background: #edf6ee;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 20px;
    transition: 0,3s;
}

header nav ul li .dropdown li .second_dropdown a:hover {
    background-color: #1a712a;
    color: white;
}

header nav ul li .dropdown li .second_dropdown li a:after {
    background-image: none;
}

header nav ul li.drop .dropdown li.second_drop:hover .second_dropdown {
    display: block;
}

.desktop_control {
    display: flex;
    gap: 29px;
}

header .login{
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0,4s;
}

header .login svg{
    margin-right: 4px;
}

header .login svg path{
    transition: 0,4s;
}

header .login:hover{
    background-color: white;
    color: #46a358;
}

header .login:hover svg path{
stroke: #46A358;
}

.banner article{
    max-width: 557px;
    padding-left: 43px;
}

.title_four{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-top: 68px;
    margin-bottom: 7px;
}

.title_one{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.planet{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #46a358;
    margin-bottom: 5px;
}

.title_description{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.shop_now_btn{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 26px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.shop_now_btn:hover{
    background-color: white;
    color: #46a358;
}

/* Каталог */

.catalog .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar {
    max-width: 310px;
    background: #fbfbfb;
}

.sidebar h3 {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.sidebar ul {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    margin-bottom: 300px;
    margin-left: 10px;
}

.sidebar li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #3d3d3d;

}

.sidebar li a:hover{
    color: #46a358;
}

.sidebar img {
    max-width: 370px;
    margin-left: -30px;
}

.products {
    max-width: 840px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.top-nav ul {
    list-style: none;
    display: flex;
}

.top-nav li a {
    text-decoration: none;
    color: #333;
    margin-right: 38px;
    border-bottom: solid 1px transparent;
}

.top-nav li a:hover{
    background-color: #ffffff;
    color: #46a358;
    border-bottom: solid 1px #46A358;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.sort select {
    border: none;
    outline: none;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.sort select:hover {
    background-color: #ffffff;
    color: #46a358;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.product-list article {
    border-top: solid 1px transparent;
    position: relative;
}

.product-list article:hover {
    border-top: solid 1px #46A358;
}

.product-list article .discont {
    background: #46A358;
    padding: 5px 7px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.price {
    text-decoration: line-through;
    color: #a5a5a5;
    margin-left: 16px;
}

.product-item {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    max-width: 258px;
    background: #fbfbfb;
    gap: 33px;
    margin-bottom: 70px;
    position: relative;
}

.product-item ul {
    display: flex;
    position: absolute;
    left: 26%;
    top: 77%;
    gap: 26px;
    opacity: 0;
    transition: 0.5s;
}

.product-item:hover ul {
    background-color: #fbfbfb;
    opacity: 1;
}

.product-item ul li a:hover svg path {
    fill: #46a358;
}

.product-item img {
    width: 250px;
    height: 250px;
    margin-bottom: 31px;
    background: #fbfbfb;
}

.product-item h3 {
    margin-bottom: 6px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    text-align: left;
}

.product-item p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-bottom: 94px;
}

.pagination ul {
    display: flex;
    gap: 10px;
}

.pagination ul li a {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
}

.pagination ul li:hover a {
    background-color: #46a358;
    color: #fff;
}

.pagination:hover svg path {
    stroke:#3d3d3d;
}

/* Блог */

.blog-posts .container {
    display: block;
    margin-bottom: 100px;
}

.product_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}

.info {
    max-width: 586px;
    display: flex;
    align-items: center;
    text-align: right;
    background: #fbfbfb;
}

.info_title{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.info_description{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}

.btn_find_more{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 28px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-decoration: none;
    color: #fff;
}

.btn_find_more svg {
    position: relative;
    bottom: -5px;
}

.btn_find_more svg path{
    transition: 0,4s;
}

.btn_find_more:hover{
    background-color: white;
    color: #46a358;
}

.btn_find_more:hover svg path{
stroke: #46A358;
}

.blog-post_title{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog-post_description{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.post-list {
    display: flex;
    justify-content: space-between;
}

.post {
    max-width: 268px;
    margin-bottom: 9px;
    background: #fbfbfb;
}

.post-content {
    max-width: 242px;
}

.post-content_description_one {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
}

.post-content_title {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
}

.post-content_description_two {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}

.read-more{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
}

.read-more svg {
    margin-left: 3px;
}

.read-more svg path{
    transition: 0,4s;
}

.read-more:hover {
    color: #46a358;
}

.read-more:hover svg path{
    stroke: #46A358;
}

/* Уход за садом */

.garden_care .container {
    background: #fbfbfb;
    margin-bottom: 24px;
}

.care {
    max-width: 204px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
    padding-right: 30px;
}

.care img {
    margin-bottom: 15px;
}

.care h3 {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.care p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

.join {
    max-width: 354px;
}

.join h3 {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 25px;
}
.join form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 354px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 18px;
}

.join input {
    width: 269px;
    height: 40px;
    border: none;
    outline: none;
    padding-bottom: 8px;
    background: transparent;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
}

.join button {
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 0 6px 6px 0;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background: #46a358;
    cursor: pointer;
}

.join button:hover {
    background-color: white;
    color: #46a358;
}

.join p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

/* Подвал */

footer .container {
    display: block;
    background: #fbfbfb;
}

.contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 22px;
    max-width: 1200px;
    height: 88px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    margin-bottom: 33px;
}

.contact_info a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    display: inline-flex;
    align-items: center;
    text-align: start;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.1);
    padding-bottom: 27px;
}

.roadmap ul li:first-of-type {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.roadmap ul li a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
}

.roadmap ul li a:hover{
    background-color: #ffffff;
    color: #46a358;
}

.social-media h3 {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.social-media ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.media_icon {
    display: inline-block;
}

.media_icon:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

footer p {
    text-align: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
}